<a href="https://colab.research.google.com/github/ovozzx/Baekjoon/blob/main/%E1%84%87%E1%85%A2%E1%86%A8%E1%84%8C%E1%85%AE%E1%86%AB_%E1%84%83%E1%85%A1%E1%86%AB%E1%84%80%E1%85%A85_1%EC%B0%A8%EC%9B%90%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.	문제 번호 : 10818	[최소, 최대]

최솟값과 최댓값을 찾는 문제

N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

In [ ]:
#런타임 에러!!!
import numpy as np

num_arr = []
n = int(input())
num = list(map(int, input().split()))

for i in range(0, n) :   
  num_arr.append(num[i])

print(np.min(num_arr),np.max(num_arr))

5
20 10 35 30 7
7 35

In [ ]:

num_arr = []
n = int(input())
num = list(map(int, input().split()))

for i in range(0, n) :   
  num_arr.append(num[i])

print(min(num_arr),max(num_arr))

5
20 10 35 30 7
7 35

#2.	문제 번호 : 2562	[최댓값]

최댓값이 어디에 있는지 찾는 문제

9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

In [ ]:
n9 = []

for i in range(0,9) :
  n = int(input())
  n9.append(n)

print(max(n9))
print(n9.index(max(n9))+1)

3
29
38
12
57
74
40
85
61
85
8

string.find(찾을 문자)

string.find(찾을 문자, 시작 Index)

string.find(찾을 문자, 시작 Index, 끝 Index)

찾는 문자가 존재 한다면 해당 위치의 **index**를 반환해주고

찾는 문자가 존재 하지 않는다면 **-1** 을 반환합니다.

In [ ]:

n9 = []

for i in range(0,3) : 
  n = int(input())
  n9.append(n)

print(max(n9))
print(n9.find(max(n9))+1) # find는 문자열에서! 리스트 X

1
2
3
3

AttributeError: ignored

#3.	문제 번호 : 2577	[숫자의 개수]

각 숫자가 몇 번 나왔는지 저장하기 위해 일차원 배열을 만드는 문제

세 개의 자연수 A, B, C가 주어질 때 A × B × C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.

In [ ]:
A = input()
B = input()
C = input()

Num = list(str(int(A)*int(B)*int(C)))

for i in range(0,10) : 
  print(Num.count(str(i))) #count → list로 해야 가능, 문자열 X

150
266
427
3
1
0
2
0
0
0
2
0
0

In [ ]:
A = input()
B = input()
C = input()

Num = list(int(A)*int(B)*int(C)) #int → 리스트 변환 X ?

for i in range(0,10) : 
  print(Num.count(i)) #count → list로 해야 가능, 문자열 X

150
266
427

TypeError: ignored

In [ ]:
a = [1,1,2,3,1]
print(a.count(1))

3

#4.	문제 번호 : 3052	[나머지]

두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다. 예를 들어, 7, 14, 27, 38을 3으로 나눈 나머지는 1, 2, 0, 2이다. 

수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.

- set(집합) 자료 구조 : 중복 불가능, 순서가 없다

In [ ]:

rest = []


for i in range(0,10) : 
  n = int(input())
  rest.append(n%42)

rest = set(rest)
print(len(rest))

39
40
41
42
43
44
82
83
84
85
6

#5.	문제 번호 : 1546	[평균]

평균을 조작하는 문제

세준이는 기말고사를 망쳤다. 세준이는 점수를 조작해서 집에 가져가기로 했다. 일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다.

예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다.

세준이의 성적을 위의 방법대로 새로 계산했을 때, 새로운 평균을 구하는 프로그램을 작성하시오.

In [ ]:
N = int(input())
arr = list(map(int, input().split()))
new_avg = []

for i in range(0, N) :
  new = arr[i]/max(arr)*100
  new_avg.append(new)

print(sum(new_avg)/N)

3
10 20 30
66.66666666666667

#6.	문제 번호 : 8958	[OX퀴즈]

OX 퀴즈의 결과를 일차원 배열로 입력받아 점수를 계산하는 문제

"OOXXOXXOOO"와 같은 OX퀴즈의 결과가 있다. O는 문제를 맞은 것이고, X는 문제를 틀린 것이다. 문제를 맞은 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수가 된다. 예를 들어, 10번 문제의 점수는 3이 된다.

"OOXXOXXOOO"의 점수는 1+2+0+0+1+0+0+1+2+3 = 10점이다.

OX퀴즈의 결과가 주어졌을 때, 점수를 구하는 프로그램을 작성하시오.

In [ ]:
n = int(input())
total = 0
grade = 0

for i in range(0, n) :
  ox = input()
  
  for j in range(0, len(ox)) :
    if ox[j] == 'O' :
      grade += 1
      total += grade

    if ox[j] == 'X' :
      grade = 0
  
  print(total)
  total = 0
  grade = 0

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

#7. 문제 번호	: 4344	[평균은 넘겠지]

대학생 새내기들의 90%는 자신이 반에서 평균은 넘는다고 생각한다. 당신은 그들에게 슬픈 진실을 알려줘야 한다.

ㅋㅋ

In [ ]:
#예약어를 변수로 사용하여 'int' object is not callable 에러 발생!!
del sum #따라서 지워줌
n = int(input())
count = 0

for i in range(0, n) :


  score = list(map(int, input().split()))
  avg = (sum(score)-score[0])/score[0]

  for j in range(1, len(score)) :
    if score[j] > avg :
      count += 1

  portion = count/score[0]*100
  print("%.3f" %portion, end = '')
  print('%')
  count = 0

5
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%
3 70 90 81
66.667%
9 100 99 98 97 96 95 94 93 91
55.556%