<a href="https://colab.research.google.com/github/ovozzx/Baekjoon/blob/main/%E1%84%87%E1%85%A2%E1%86%A8%E1%84%8C%E1%85%AE%E1%86%AB_%E1%84%83%E1%85%A1%E1%86%AB%E1%84%80%E1%85%A87_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 문제 번호 :	11654	[아스키 코드]

아스키 코드에 대해 알아보는 문제

알파벳 소문자, 대문자, 숫자 0-9중 하나가 주어졌을 때, 주어진 글자의 아스키 코드값을 출력하는 프로그램을 작성하시오.


ord <-> chr

In [5]:
n = input()
print(ord(n))

0
48

#2. 문제 번호 :	11720	[숫자의 합]

정수를 문자열로 입력받는 문제. Python처럼 정수 크기에 제한이 없다면 상관 없으나, 예제 3은 일반적인 정수 자료형에 담기에 너무 크다는 점에 주목합시다.

N개의 숫자가 공백 없이 쓰여있다. 이 숫자를 모두 합해서 출력하는 프로그램을 작성하시오.

In [8]:
n = int(input())
number = input()
sum = 0

for i in range(0, len(number)) :
  sum += int(number[i])

print(sum)

5
54321
15

#3. 문제 번호 :	10809	[알파벳 찾기]

한 단어에서 각 알파벳이 처음 등장하는 위치를 찾는 문제

알파벳 **소문자**로만 이루어진 단어 S가 주어진다. 각각의 알파벳에 대해서, 단어에 포함되어 있는 경우에는 처음 등장하는 위치를, 포함되어 있지 않은 경우에는 -1을 출력하는 프로그램을 작성하시오.

In [21]:
print(ord('A'))
print(ord('B'))
print(ord('a'))
print(ord('b'))

65
66
97
98

In [23]:
print(chr(65))
print(chr(90))
print(chr(97))
print(chr(122))

A
Z
a
z

In [25]:
#정답
n = input()
abc = []
for i in range(97, 123) :
  abc.append(chr(i))

for j in range(0, 26) : 
  print(n.find(abc[j]), end = ' ') #공백추가

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

#4. 문제 번호 :	2675	[문자열 반복]

각 문자를 반복하여 출력하는 문제

문자열 S를 입력받은 후에, 각 문자를 R번 반복해 새 문자열 P를 만든 후 출력하는 프로그램을 작성하시오. 즉, 첫 번째 문자를 R번 반복하고, 두 번째 문자를 R번 반복하는 식으로 P를 만들면 된다. S에는 QR Code "alphanumeric" 문자만 들어있다.

QR Code "alphanumeric" 문자는 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ\$%*+-./: 이다.

In [26]:
test = int(input())
new_abc = ''

for _ in range(0, test) :
  n, abc = input().split() #문자열로 받음

  for i in range(0, len(abc)) :
    new_abc += (abc[i]*int(n))

  print(new_abc)
  new_abc = ''

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

#5. 문제 번호: 1157	[단어 공부]	
주어진 단어에서 가장 많이 사용된 알파벳을 출력하는 문제

알파벳 대소문자로 된 단어가 주어지면, 이 단어에서 가장 많이 사용된 알파벳이 무엇인지 알아내는 프로그램을 작성하시오. 단, 대문자와 소문자를 구분하지 않는다.

In [38]:
word = input()
wordx = str(set(word))
count = []

for i in range(0, len(wordx)) :
  
    n = word.count(wordx[i])
    count.append(n)

val = max(count)
id = str(count).find(str(val))
print(wordx[id])

aabc
b

In [32]:
[0,0,0,1].count(0)

3

#6. 문제 번호: 1152	[단어의 개수]	

단어의 개수를 구하는 문제

영어 대소문자와 공백으로 이루어진 문자열이 주어진다. 이 문자열에는 몇 개의 단어가 있을까? 이를 구하는 프로그램을 작성하시오. 단, 한 단어가 여러 번 등장하면 등장한 횟수만큼 모두 세어야 한다.

#7. 문제 번호: 2908	[상수]	

숫자를 뒤집어서 비교하는 문제

상근이의 동생 상수는 수학을 정말 못한다. 상수는 숫자를 읽는데 문제가 있다. 이렇게 수학을 못하는 상수를 위해서 상근이는 수의 크기를 비교하는 문제를 내주었다. 상근이는 세 자리 수 두 개를 칠판에 써주었다. 그 다음에 크기가 큰 수를 말해보라고 했다.

상수는 수를 다른 사람과 다르게 거꾸로 읽는다. 예를 들어, 734와 893을 칠판에 적었다면, 상수는 이 수를 437과 398로 읽는다. 따라서, 상수는 두 수중 큰 수인 437을 큰 수라고 말할 것이다.

두 수가 주어졌을 때, 상수의 대답을 출력하는 프로그램을 작성하시오.

In [6]:
a, b = input().split()

a = a[2]+a[1]+a[0]
b = b[2]+b[1]+b[0]

if int(a)>int(b) :

  print(int(a))

else :

  print(int(b))

734 893
437

#8. 문제 번호: 5622	[다이얼]	

규칙에 따라 문자에 대응하는 수를 출력하는 문제


상근이의 할머니는 아래 그림과 같이 오래된 다이얼 전화기를 사용한다.



전화를 걸고 싶은 번호가 있다면, 숫자를 하나를 누른 다음에 금속 핀이 있는 곳 까지 시계방향으로 돌려야 한다. 숫자를 하나 누르면 다이얼이 처음 위치로 돌아가고, 다음 숫자를 누르려면 다이얼을 처음 위치에서 다시 돌려야 한다.

숫자 1을 걸려면 총 2초가 필요하다. 1보다 큰 수를 거는데 걸리는 시간은 이보다 더 걸리며, 한 칸 옆에 있는 숫자를 걸기 위해선 1초씩 더 걸린다.

상근이의 할머니는 전화 번호를 각 숫자에 해당하는 문자로 외운다. 즉, 어떤 단어를 걸 때, 각 알파벳에 해당하는 숫자를 걸면 된다. 예를 들어, UNUCIC는 868242와 같다.

할머니가 외운 단어가 주어졌을 때, 이 전화를 걸기 위해서 필요한 최소 시간을 구하는 프로그램을 작성하시오.

In [ ]:
word = input()

#9. 문제 번호: 2941	[알파벳]	

크로아티아 알파벳의 개수를 세는 문제

예전에는 운영체제에서 크로아티아 알파벳을 입력할 수가 없었다. 따라서, 다음과 같이 크로아티아 알파벳을 변경해서 입력했다.

예를 들어, ljes=njak은 크로아티아 알파벳 6개(lj, e, š, nj, a, k)로 이루어져 있다. 단어가 주어졌을 때, 몇 개의 크로아티아 알파벳으로 이루어져 있는지 출력한다.

dž는 무조건 하나의 알파벳으로 쓰이고, d와 ž가 분리된 것으로 보지 않는다. lj와 nj도 마찬가지이다. 위 목록에 없는 알파벳은 한 글자씩 센다.

In [24]:
cro = input()

croatia = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']

count1 = 0
coubt2 = 0
count = 0

for i in range(0,8) :

  if cro.find(croatia[i]) != -1  :
    count1 += 1 

    if i == 2:
      a = cro[cro.find(croatia[i])]
      b = cro[cro.find(croatia[i])+1]
      c = cro[cro.find(croatia[i])+2]      
      count2 = len(set(cro)-set(a)-set(b)-set(c))
      
    else :
      a = cro[cro.find(croatia[i])]
      b = cro[cro.find(croatia[i])+1]
      count2 = len(set(cro)-set(a)-set(b))

  else :

    count = len(cro)


  count = count1+count2

print(count)

c=c=
1

In [6]:
set([1,2,3])-set([1])

{2, 3}

In [16]:
set([123])+set([4])

TypeError: ignored

In [18]:
set("123")+set("4")

TypeError: ignored